In [1]:
import pandas as pd
import numpy as np
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
train = pd.read_excel('../DataPreProcessing/ptrain.xlsx')
test = pd.read_excel('../DataPreProcessing/ptest.xlsx')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   temperature_2m (°C)                 7000 non-null   float64
 1   relative_humidity_2m (%)            7000 non-null   float64
 2   dew_point_2m (°C)                   7000 non-null   float64
 3   apparent_temperature (°C)           7000 non-null   float64
 4   precipitation (mm)                  7000 non-null   float64
 5   rain (mm)                           7000 non-null   float64
 6   snowfall (cm)                       7000 non-null   float64
 7   snow_depth (m)                      7000 non-null   int64
 8   weather_code (wmo code)             7000 non-null   float64
 9   pressure_msl (hPa)                  7000 non-null   float64
 10  surface_pressure (hPa)              7000 non-null   float64
 11  cloud_cover (%)                     7000 non-null   float64
 12  cloud_cover_low (%)                 7000 non-null   float64
 13  cloud_cover_mid (%)                 7000 non-null   float64
 14  cloud_cover_high (%)                7000 non-null   float64
 15  et0_fao_evapotranspiration (mm)     7000 non-null   float64
 16  vapour_pressure_deficit (kPa)       7000 non-null   float64
 17  wind_speed_10m (km/h)               7000 non-null   float64
 18  wind_speed_100m (km/h)              7000 non-null   float64
 19  wind_direction_10m (°)              7000 non-null   float64
 20  wind_direction_100m (°)             7000 non-null   float64
 21  wind_gusts_10m (km/h)               7000 non-null   float64
 22  soil_temperature_0_to_7cm (°C)      7000 non-null   float64
 23  soil_temperature_7_to_28cm (°C)     7000 non-null   float64
 24  soil_temperature_28_to_100cm (°C)   7000 non-null   float64
 25  soil_temperature_100_to_255cm (°C)  7000 non-null   float64
 26  soil_moisture_0_to_7cm (m³/m³)      7000 non-null   float64
 27  soil_moisture_7_to_28cm (m³/m³)     7000 non-null   float64
 28  soil_moisture_28_to_100cm (m³/m³)   7000 non-null   float64
 29  soil_moisture_100_to_255cm (m³/m³)  7000 non-null   float64
 30  Date                                7000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(29), int64(1)
memory usage: 1.7 MB

In [4]:
x_train = train.drop(['temperature_2m (°C)', 'Date'] , axis = 1)
y_train = train['temperature_2m (°C)']

x_test = test.drop(['temperature_2m (°C)' , 'Date'], axis = 1)
y_test = test['temperature_2m (°C)']

In [5]:
cat = CatBoostRegressor(iterations = 100 , eval_metric="AUC" )
cat.fit(x_train , y_train)

Learning rate set to 0.361997
0:	total: 140ms	remaining: 13.9s
1:	total: 144ms	remaining: 7.08s
2:	total: 148ms	remaining: 4.79s
3:	total: 151ms	remaining: 3.63s
4:	total: 155ms	remaining: 2.95s
5:	total: 159ms	remaining: 2.49s
6:	total: 162ms	remaining: 2.15s
7:	total: 166ms	remaining: 1.91s
8:	total: 169ms	remaining: 1.71s
9:	total: 173ms	remaining: 1.55s
10:	total: 176ms	remaining: 1.42s
11:	total: 179ms	remaining: 1.31s
12:	total: 183ms	remaining: 1.22s
13:	total: 186ms	remaining: 1.14s
14:	total: 189ms	remaining: 1.07s
15:	total: 193ms	remaining: 1.01s
16:	total: 196ms	remaining: 957ms
17:	total: 200ms	remaining: 909ms
18:	total: 203ms	remaining: 865ms
19:	total: 206ms	remaining: 826ms
20:	total: 210ms	remaining: 789ms
21:	total: 214ms	remaining: 757ms
22:	total: 217ms	remaining: 726ms
23:	total: 220ms	remaining: 697ms
24:	total: 223ms	remaining: 670ms
25:	total: 226ms	remaining: 645ms
26:	total: 230ms	remaining: 622ms
27:	total: 233ms	remaining: 600ms
28:	total: 237ms	remaining: 579ms
29:	total: 240ms	remaining: 560ms
30:	total: 243ms	remaining: 541ms
31:	total: 246ms	remaining: 524ms
32:	total: 250ms	remaining: 507ms
33:	total: 253ms	remaining: 490ms
34:	total: 255ms	remaining: 474ms
35:	total: 259ms	remaining: 460ms
36:	total: 261ms	remaining: 445ms
37:	total: 264ms	remaining: 431ms
38:	total: 267ms	remaining: 418ms
39:	total: 270ms	remaining: 405ms
40:	total: 273ms	remaining: 393ms
41:	total: 276ms	remaining: 381ms
42:	total: 279ms	remaining: 370ms
43:	total: 282ms	remaining: 359ms
44:	total: 284ms	remaining: 348ms
45:	total: 288ms	remaining: 338ms
46:	total: 290ms	remaining: 327ms
47:	total: 293ms	remaining: 318ms
48:	total: 296ms	remaining: 308ms
49:	total: 299ms	remaining: 299ms
50:	total: 302ms	remaining: 291ms
51:	total: 306ms	remaining: 282ms
52:	total: 309ms	remaining: 274ms
53:	total: 312ms	remaining: 266ms
54:	total: 314ms	remaining: 257ms
55:	total: 318ms	remaining: 250ms
56:	total: 321ms	remaining: 242ms
57:	total: 324ms	remaining: 235ms
58:	total: 327ms	remaining: 227ms
59:	total: 330ms	remaining: 220ms
60:	total: 334ms	remaining: 213ms
61:	total: 337ms	remaining: 207ms
62:	total: 340ms	remaining: 200ms
63:	total: 343ms	remaining: 193ms
64:	total: 346ms	remaining: 187ms
65:	total: 349ms	remaining: 180ms
66:	total: 352ms	remaining: 174ms
67:	total: 355ms	remaining: 167ms
68:	total: 358ms	remaining: 161ms
69:	total: 361ms	remaining: 155ms
70:	total: 364ms	remaining: 149ms
71:	total: 367ms	remaining: 143ms
72:	total: 370ms	remaining: 137ms
73:	total: 373ms	remaining: 131ms
74:	total: 376ms	remaining: 125ms
75:	total: 379ms	remaining: 120ms
76:	total: 382ms	remaining: 114ms
77:	total: 385ms	remaining: 109ms
78:	total: 388ms	remaining: 103ms
79:	total: 390ms	remaining: 97.6ms
80:	total: 394ms	remaining: 92.3ms
81:	total: 396ms	remaining: 87ms
82:	total: 399ms	remaining: 81.8ms
83:	total: 402ms	remaining: 76.5ms
84:	total: 405ms	remaining: 71.4ms
85:	total: 407ms	remaining: 66.3ms
86:	total: 411ms	remaining: 61.4ms
87:	total: 414ms	remaining: 56.4ms
88:	total: 417ms	remaining: 51.5ms
89:	total: 419ms	remaining: 46.6ms
90:	total: 422ms	remaining: 41.8ms
91:	total: 425ms	remaining: 37ms
92:	total: 428ms	remaining: 32.2ms
93:	total: 431ms	remaining: 27.5ms
94:	total: 433ms	remaining: 22.8ms
95:	total: 436ms	remaining: 18.2ms
96:	total: 439ms	remaining: 13.6ms
97:	total: 441ms	remaining: 9.01ms
98:	total: 444ms	remaining: 4.48ms
99:	total: 447ms	remaining: 0us

In [6]:
pred = cat.predict(x_test)
pred

array([13.81058093, 13.62417476, 13.01712326, ..., 14.49181208,
       15.28904689, 16.57316402])

In [8]:
predictions = pd.DataFrame()
predictions['actual'] = y_test
predictions['predicted'] = pred
predictions ['error'] = predictions['predicted'] - predictions['actual']
predictions

         actual  predicted     error
0     13.770833  13.810581  0.039748
1     13.529167  13.624175  0.095008
2     13.283333  13.017123 -0.266210
3     13.766667  13.440110 -0.326557
4     14.500000  14.372891 -0.127109
...         ...        ...       ...
1822  14.633333  15.031515  0.398182
1823  12.187500  12.153831 -0.033669
1824  14.504167  14.491812 -0.012355
1825  15.412500  15.289047 -0.123453
1826  16.754167  16.573164 -0.181003

[1827 rows x 3 columns]

In [9]:
pred = cat.predict(x_test)
pred

array([13.81058093, 13.62417476, 13.01712326, ..., 14.49181208,
       15.28904689, 16.57316402])

In [10]:
predictions = pd.DataFrame()
predictions['actual'] = y_test
predictions['predicted'] = pred
predictions ['error'] = predictions['predicted'] - predictions['actual']
predictions

         actual  predicted     error
0     13.770833  13.810581  0.039748
1     13.529167  13.624175  0.095008
2     13.283333  13.017123 -0.266210
3     13.766667  13.440110 -0.326557
4     14.500000  14.372891 -0.127109
...         ...        ...       ...
1822  14.633333  15.031515  0.398182
1823  12.187500  12.153831 -0.033669
1824  14.504167  14.491812 -0.012355
1825  15.412500  15.289047 -0.123453
1826  16.754167  16.573164 -0.181003

[1827 rows x 3 columns]

In [11]:
mse = mean_squared_error(y_test, pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.0577554025906175

In [12]:
mae = mean_absolute_error(y_test,pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 0.1789993356733792